#main-goals{
    display: flex;
    gap: 20%;
    justify-content: center;
}
#navbar{
  display: flex;
  gap: 12%;
  background-color: #f9f9f9;
  font-weight:900;

}
a{
text-decoration: none;
color: rgb(232, 28, 35);
margin-top: 1%;
font-size: larger;
}
#main img{
width: 5%;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#content{
    display: flex;
    margin-top: 5%;
    gap: 1%;

}
h1{font-style: italic;
  color:rgb(232, 16, 138);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    font-family: 'Arial', sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
   background-color: rgb(155, 134, 122);;
    color: #333;
  }
  
  .goal-app {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 2%;
  }
  
  .goal-form input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .goal-form button {
    padding: 10px 20px;
    background-color :rgb(232, 16, 138);;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .goal-form button:hover {
    background-color: #4682B4;
  }
  
  .goals-list {
    list-style: none;
    padding: 0;
  }
  
  .goals-list li {
    background-color: #f9f9f9;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media only screen and (max-width: 540px) {
    #navbar{
        overflow: hidden;
        position: relative;
        flex-wrap: wrap;
      }
       #navbar a {
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      #todo-app {
        width: 40%;
        max-width: 400px;
        margin: 0 auto;
        padding: 150px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      margin-top: 1%;
      }
      #main-goals{
        display:grid;
        justify-content: center;
    }
  
  }
  @media only screen and (max-width: 768px) {
  
    #navbar{
        display: flex;
        flex-wrap: wrap;
  }
  }
  
  @media only screen and (max-width: 280px) {
     #todo-app {
        width: 40%;
        padding: 90px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  #main-goals{
    display:grid;
    justify-content: center;
}
  }

  
