#navbar{
    display: flex;
    gap: 12%;
    background-color: #f9f9f9;
    font-weight:900;

}
a{
  text-decoration: none;
  color: rgb(232, 28, 35);
  margin-top: 1%;
font-size: larger;
}
#main img{
  width: 5%;
}

.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#content{
    display: flex;
    margin-top: 5%;
    gap: 10%;

}
h1{
  font-style: italic;
   color:rgb(232, 16, 138);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#main img{
    width: 5%;
}
h5{
    margin-bottom: 20%;
}
body {
    font-family: 'Arial', sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
   background-color: rgb(155, 134, 122);;
    color: #333;
  }
  #profile{
    display: flex;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 60%;
 padding: 40px;
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 7%;
    margin-left: 20%;
    height: 60vh;
     
     
    } 


  .page{
 border-radius: 50%;
 width: 50%;
 margin-left: 20%;
 margin-top: 1%;
}
                
@media only screen and (max-width: 540px) {
#navbar{
                        overflow: hidden;
                        position: relative;
                        flex-wrap: wrap;
                      }
                       #navbar a {
                        padding: 14px 16px;
                        text-decoration: none;
                        font-size: 17px;
                        display: block;
                      }
    
                   
                  }
                  @media only screen and (max-width: 768px) {
                  
                    #navbar{
                        display: flex;
                        flex-wrap: wrap;
                  }
                  }
                  
                  @media only screen and (max-width: 280px) {
                     
  
                    #navbar{
                        display: flex;
                        flex-wrap: wrap;
                  }
                  .page{
                    border-radius: 50%;
                    width: 50%;
                    margin-right: 20%;
                   
                   }
                   #profile{
                    display: grid;
                    font-size: large;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                  
                
                    background-color: #fff;
                    border-radius: 14px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        
                   
                  
                     
                     
                    } 
                    h5{
                        margin-top: 1%;
                      
                    }
                  }
                      


