#summary{
    display: flex;
    margin-top: 3%;
    
}
#navbar{
    display: flex;
    gap: 12%;
    background-color: #f9f9f9;
    font-weight:900;

}
a{
  text-decoration: none;
  color: rgb(232, 28, 35);
  margin-top: 1%;
  font-size: larger;

}
#main img{
  width: 5%;
}
h1{
    text-align: center;

}
p{
    font-size: x-large;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5%;
    margin-left: 45px;
    
}
body{
    background-color: rgb(155, 134, 122);
}
#trevor{
 border-radius: 1%;
margin-top:5% ;
    height: 70%;
    width: 600px;
    margin-right: 65px;

    
}
@media only screen and (max-width: 280px) {
    #summary{
    flex-wrap: wrap;


    }
    h1{
        text-align: end;
        color:rgb(232, 16, 138);
    }
    p{
        font-size: larger;
        font-style: italic;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
        
}
                     