 body {
    font-family: 'Arial', sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
   background-color: rgb(155, 134, 122);;
    color: #333;
  }
  
  #todo-app {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    padding: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 2%;
  }
  
  #todo-form input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  #todo-form button {
    padding: 10px 20px;
    background-color:rgb(232, 16, 138);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #todo-form button:hover {
    background-color: #4682B4;
  }
  
  #todo-list {
    list-style: none;
    padding: 0;
  }
  
  #todo-list li {
    background-color: #f9f9f9;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #navbar{
    display: flex;
    gap: 12%;
    background-color: #f9f9f9;
    font-weight:900;

}
a{
  text-decoration: none;
  color: rgb(232, 28, 35);
  margin-top: 1%;
  font-size: larger;

}
#main img{
  width: 5%;
}

#content{
    display: flex;
    margin-top: 5%;
    gap: 10%;

}
h1{
  font-style: italic;
   color:rgb(232, 16, 138);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@media only screen and (max-width: 540px) {
  #navbar{
                          overflow: hidden;
                          position: relative;
                          flex-wrap: wrap;
                        }
                         #navbar a {
                          padding: 14px 16px;
                          text-decoration: none;
                          font-size: 17px;
                          display: block;
                        }
                        #todo-app {
                          width: 60%;
                          
                          padding: 200px;
                          background-color: #fff;
                          border-radius: 10px;
                          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
                        
                        }
      
                     
                    }
                    @media only screen and (max-width: 768px) {
                    
                      #navbar{
                          display: flex;
                          flex-wrap: wrap;
                    }
                    }
                    
                    @media only screen and (max-width: 280px) {
                       
    
                      #navbar{
                          display: flex;
                          flex-wrap: wrap;
                    }
                    .page{
                      border-radius: 50%;
                      width: 50%;
                      margin-right: 20%;
                     
                     }
         
                    
                       
                       
                     #navbar{
                      overflow: hidden;
                      position: relative;
                      flex-wrap: wrap;
                    }
                     #navbar a {
                      padding: 14px 16px;
                      text-decoration: none;
                      font-size: 17px;
                      display: block;
                    }
                    #todo-app {
                      width: 50%;
                      padding-left: 10%;
                      margin-right: 40%;
                      background-color: #fff;
                      border-radius: 10px;
                      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
                    
                    
                    }
                        
  
  
                  }  



  